# udev rules for Amontec JTAGkey JTAG pod

# $Id: 50-jtagkey.rules 2929 2011-06-27 21:37:14Z svn $

ACTION!="add", SUBSYSTEM!=="usb_device", GOTO="kcontrol_rules_end"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="cff8", MODE="660", GROUP="wheel"
LABEL="kcontrol_rules_end"
