# udev rules for mbed-LPC1768 and mbed-LPC2366

# $Id: 50-mbed.rules 2929 2011-06-27 21:37:14Z svn $

# link /dev/ttymbed to ttyACM?
KERNEL=="ttyACM*", ATTRS{idVendor}=="0d28", ATTRS{idProduct}=="0204", SYMLINK+="ttymbed", MODE:="0660"
